header {
    z-index: 2;
    background-color: black;
    position: sticky;
    top: 0;
}

body {
    background-color: rgb(16, 16, 16);
    margin: 0px;
}

.navigation {
    display: flex;
    justify-content: right;
    color: rgb(237, 237, 237);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;

}

nav {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5%;

}

.herotext {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    margin-left: 5%;
    margin-top: -7%;
}

.herotext1 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-left: 5%;
    margin-top: -45px;
}

.standartinfos {
    margin-left: 5%;
    margin-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.lost {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
}

.footer {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    position: relative;
    margin-bottom: 0px;
}

.heading-footer {
    margin-left: 5%;
    display: flex;
    margin-right: 2%;
    margin-bottom: -2%;
}

.content-footer {
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 2%;
}

.margin-left {
    margin-left: 100px;
}

.margin-left2 {
    margin-left: 250px;
}