body {
    background-color: rgb(16, 16, 16);
    margin: 0px;
}

.specification {
    color: rgb(250, 100, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
}

.rahmen {
    background-color: rgb(0, 0, 0);
    max-width: 510px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}

.margin-top {
    margin-top: 100px;
}

.hidden {
    display: none !important;
}

.btn {
    width: 100px;
    max-height: 56px;
    min-width: 75px;
    min-height: 56px;
    font-family: A;
    font-size: 25px;
    border: none;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    margin: 1px;
}

.blue-color {
    background-color: rgb(0, 47, 135);
}

.orange-color {
    background-color: rgb(200, 130, 80);
}

.grey-color {
    background-color: rgb(50, 50, 50);  
}

.darkgrey-color {
    background-color: rgb(40, 40, 40);  
}

.grey-color:hover {
    background-color: rgb(40, 40, 40);  
}

.darkgrey-color:hover {
    background-color: rgb(50, 50, 50);  
}

.border-radius {
    border-radius: 4px;
}

.create-columns {
    display: flex;
    flex-direction: column;
}

.row-columns {
    display: flex;
    flex-direction: row;
}

.center-content {
    display: flex;
    justify-content: center;
}

.input-indication {
    display: flex;
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    font-family: A;
    font-size: 40px;
    height: 50px;
    min-width: 487px;

}

.aufgabe-indication {
    margin-top: 2px;
    margin-bottom: 0px;
    padding: 10px;
    color: rgb(80, 80, 80);
    font-family: A;
    font-size: 25px;
    height: 30px;
    min-width: 487px;
}

.display {
    background-color: rgb(15, 5, 0);
}

@media (max-width: 720px) {
    /* Rahmen */
    .rahmen {
        width: 100%;
        max-width: none;
        margin-top: 0;
        padding: 10px;
        border-radius: 0;
    }

    /* Zentrierung anpassen, damit 100% wirkt */
    .center-content {
        justify-content: center;
        width: 100%;
    }

    /* Zeilenlayout umbrechen */
    .row-columns {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    /* Spalten sollen gleichmäßig nebeneinander stehen */
    .create-columns {
        width: 20%; /* 5 Spalten = 100% (je nach Layout kannst du hier feintunen) */
        min-width: 60px;
    }

    /* Buttons füllen Spalten komplett aus */
    .btn {
        width: 98.5%;
        box-sizing: border-box;
    }

    /* Display-Bereiche (oben) anpassen */
    .input-indication,
    .aufgabe-indication {
        width: 100%;
        min-width: unset;
        box-sizing: border-box;
        font-size: 28px;
    }
}
