body {
    background-color: rgb(16, 16, 16);
    color: white;
    font-size: large;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    box-shadow: 0 4px 16px -4px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.header-logo {
    list-style-type: none;
    margin: 0px;
    margin-top: 3px;
    margin-left: -20px;
    padding: 0px;
    font-size: larger;
    display: flex;
    justify-content: left;
}

.header-logo a {
    color: rgb(255, 100, 0);
    font-weight: 600;
    font-family: Helvetica;
    text-decoration: none;
}

.header-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: right;
    background-color: black;
}

.header-list a {
    display: inline-flex;
    align-items: center; 
    color: white;
    padding: 20px;
    text-decoration: none;
}

.header-list li a:hover {
    color: rgb(255, 100, 0);
}

.header-list img {
    display: block;
    margin-right: 5px;
    border-radius: 5px;
}

.flex-box-space-between {
    display: flex;
    justify-content: space-between;
}    

.text-center {
    text-align: center;
}    

.h1-heading {
    font-size: 500%;
    font-weight: 500;
}    

.h2-heading {
    margin-top: 40px;
    font-size: 250%;
    font-weight: 500;
}    

.margin-sides {
    margin-left: 5%;
    margin-right: 5%;
}    

.text-color-orange {
    color: rgb(250, 100, 0);
}    

.background-black {
    background-color: black;
}    

.background-grey {
    background-color: rgb(36, 36, 36);
}    

.language-button {
    display: inline-flex;
    align-items: center; 
}    

.space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.toolbar-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.toolbar-list a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.toolbar-list img {
    margin-bottom: 10px;
}

.toolbar-list li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toolbar-list li a:hover {
    color: rgb(255, 100, 0);
}

.section {
    padding: 10px;
}

.section span {
    color: rgb(250, 100, 0);
    font-weight: bold;
}

.section a {
    text-decoration: none;
    color: white;
}

.section a:hover {
    text-decoration: none;
    color: rgb(200, 200, 200);
}

.section li {
    list-style: none;
    line-height: 1.5;
}


.mobile-header {
    display: none;
}



@media (max-width: 768px) {
    .mobile-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        padding: 16px 32px;
        background-color: black;
        z-index: 100;
    }

    .desktop-header  {
        display: none;
    }

}